/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}
body.light-mode {
    --bg-color: #f8f9fa;
    --text-color: #343a40;
    --card-bg: #ffffff;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --h1-color: #343a40;
    --h2-color: #0d6efd;
}
body.dark-mode {
    --bg-color: #343a40;
    --text-color: #f8f9fa;
    --card-bg: #495057;
    --card-shadow: rgba(0, 0, 0, 0.5);
    --h1-color: #f8f9fa;
    --h2-color: orange;
}
.card-body {
    background-color: var(--card-bg);
    border-radius: 8px;
    box-shadow: 0px 4px 8px var(--card-shadow);
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: 50px;
    color: var(--h1-color);
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: var(--h2-color);
}

.container {
    margin: 20px auto;
    max-width: 1200px;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    cursor: pointer;
    font-size: 18px;
    padding: 15px;
    border: none;
}

.list-group-item:hover {
    background-color: #007bff;
    color: #ffffff;
}

.list-group-item:focus {
    background-color: #007bff;
    color: #ffffff;
}

.form-label {
    font-weight: bold;
}

.form-select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 16px;
}

.btn-primary, .btn-secondary {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.text-danger {
    color: #dc3545;
    font-weight: bold;
    margin-top: 20px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

/* Toggle Switch Styles */
.toggle-switch {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #058df4;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    margin-left: 1130px;
}

.toggle-switch-inner {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #f4f0f0;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.5s ease;
}

.toggle-switch.on {
    background-color: #007bff;
}

.toggle-switch.on .toggle-switch-inner {
    transform: translateX(20px);
}
